.wrap {
  background-color: blue;
  min-width: 600px;
  width: 80%;
  overflow: hidden;
}

.content,aside{

  height:600px;
}

.content {
background-color: pink;
float: left;
width: 80%;
}

aside {
  background-color: grey;
  float: left;
  width: 20%;
}

aside ul {
  //padding-left: 0;
  //padding-left: 18;
  list-style: none;
  padding-left: 0;
}

<!--footer
{
  clear: both;
} -->
